service: pokemon-api

provider:
  name: aws # aws, azure 등 Vendor 지정
  runtime: nodejs12.x # 사용 언어
  stage: ${opt:stage,'api'} # stage 명
  region: ap-northeast-2 # ap-northeast-1 (도쿄), ap-northeast-2 (서울)
  memorySize: 2048 # 램 사이즈 (default: 1024)
  stackName: pokemon-stack # CloudFormation stack 명
  apiName: pokemon # API Gateway 명
  environment: # lambda에서 사용될 공통 환경변수
    NODE_ENV: ${self:custom.env.NODE_ENV}
    SERVICE: ${self:service}
    STAGE: ${self:provider.stage}
    REGION: ${self:provider.region}
    DATABASE_URL: ${self:custom.env.DATABASE_URL}
    MODE: 'serverless'
  apiGateway:
    shouldStartNameWithService: true

plugins: # Serverless 플러그인
  - serverless-plugin-typescript
  - serverless-offline

package:
  exclude:
    - node_modules/typescript/**
    - node_modules/@types/**
    - dist/**

functions: # lambda 함수 리스트
  pokemon: # lambda 함수
    handler: src/lambda.handler # lambda 함수 위치
    name: pokemon # lambda 함수 명
    events: # lambda 이벤트
      - http: # API Gateway
          path: '{proxy+}' # URI Path
          method: any # HTTP Method
          cors: true # CORS Enable

custom:
  env: ${file(./env.json)} # CLI 입력시 --alias `alias 명` 에 따라 config 파일을 다르게 불러옴. 불러운 변수는 위의 provider.environment 에서 씀
